{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <p class="center">You are currently logged in.</p>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>
    
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}
      </p>
    
    </div>

    <div>
      <form action = "http://127.0.0.1/dashboard/upload" method = "POST" 
      enctype = "multipart/form-data">
      <input type = "file" name = "file" />
      <input type = "submit"/>
   </form>
      </form>
    </div>
    <div>
      <p>Pesan : {{ messege_info }} </p>
    </div>
  <div><div>
    <a href="http://127.0.0.1/dashboard/scan">SCAANNN</a>
  </div>
    
  </div>
  <div>
    <div class="struk">

      <h2 class="center">Hasil Ekstrasi</h2>

      <p>
        <strong>Produk:</strong> {{ session['user']['produk'] }}<br>
        <strong>Harga Produk:</strong> {{ session['user']['harga'] }}<br>
        <strong>Diskon:</strong> {{ session['user']['disc'] }}<br>
        <strong>Diskon:</strong> {{ session['user']['hargadisc'] }}
      </p>
    
    </div>
  </div>
  </div>
{% endblock %}