{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper-dashboard">

    <div class="DashboardText">
      <h2>Selamat Datang, Website ini dibuat untuk Melakukan Scan pada Struk Pembelian kalian dan di catat dalam database</h2>
    </div>

    <div class="Top">
      <div class="card-dashboard">
          <h2 class="center">Hello!</h2>
          <p>
            <!-- <strong>ID:</strong> {{ session['user']['_id'] }}<br> -->
            <p style="text-align: center; font-weight: bold;">{{ session['user']['name'] }}</p>
            <p style="text-align: center; font-size:16px;">{{ session['user']['email'] }}</p> 
          </p>
          <div class="center">
            <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
          </div>
      </div>
    </div>

    <div class="bottom">
      <div class="UploadBox">
        <form action = "http://127.0.0.1/dashboard/upload" method = "POST" enctype = "multipart/form-data">
          <input class="tombolUpload" type = "file" name="file" />
          <p style="text-align: center ; font-size: 13px; color: white;">Foto harus Jelas dan Vertikal</p>
          <input class="tombolSubmit" type = "submit"/>
        </form>
      </div>
      <div>
        <p style="text-align: center ;">{{ messege_info }}</p>
      </div>
    <div>
      <div >
        <a class="ScanButton" href="http://127.0.0.1/dashboard/scan">Scan</a>
      </div>
      
    </div>
      
    
    </div>

    
  <div class="card-wrapper-table">
    <div>
      <div class="card-table">
  
        <h2 class="center">Produk</h2>
  
        <p>
          {% for prod in session['user']['produk'] %}
            <li>{{ prod }}</li>
          {% endfor %}
          
        </p>
      
      </div>
    </div>
    <div>
      <div class="card-table">
  
        <h2 class="center">Harga</h2>
  
        <p>
          {% for prod in session['user']['harga'] %}
          <li>Rp.{{ prod }},-</li>
          {% endfor %}
          
        </p>
      </div>
    </div>
  
    <div>
      <div class="card-table">
  
        <h2 class="center">Diskon</h2>
  
        <p>
          {% for prod in session['user']['hargadisc'] %}
          <li>Rp.{{ prod }},-</li>
          {% endfor %}
          
        </p>
      
      </div>
    </div>
    <div>
      <div class="card-table">
  
        <h2 class="center">Total</h2>
        <!-- <script>
          const harga = harga ;
          const diskon = diskon;
          let sum_harga = 0;
          let sum_diskon = 0;
          
          for (let i = 0; i < harga.length; i++) {
              sum_harga += harga[i];
          }
          for (let j = 0; j < diskon.length; j++) {
              sum_harga += diskon[j];
          }
          
          let sum_total = sum_harga - sum_diskon;
          
          document.getElementById("demo").innerHTML = sum_total;
          </script> -->
          <p style="text-align: center; font-weight: bold">Rp.{{ total }},-</p>
      </div>
    </div>

  </div>
  

  </div>
{% endblock %}