<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My-Portofolio</title>
	<link rel="stylesheet"  href="../static/style2.css">
</head>
<body>
<div class="container">
	<div class="header">
		<h1 class="judul">My Portofolio</h1>

		<ul>
			<li><a href="#">profile</a></li>
			<li><a href="#">project</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</div>
	<div class="gambar"></div>
	<div class="main">
		<h2>Project Pertama - Deployment Model ML Amateur</h2>
		<p class="identitas">Penulis:  <a href="https://www.linkedin.com/in/rahmat-aldino/">Rahmat Aldino</a></p>
		<p class="identitas">Tangal 16 April 2022</p>
		<p>Pada project yang dimaksud ini adalah tugas pertama orbit materi technical. Materi yang diangkat adalah deployment model Artificial Intelegence menggunakan Restfull API flask modul pada tampilan antarmuka berbasis web. Model yang di training pada dataset tinggi dan berat badan suatu gender. Target dari model adalah memprediksi berat badan berdasarkan tinggi dan jenis gender. Algoritma machine learning yan digunakan adalah linear regression.</p>
		<p>Untuk menggunakan model machine learning, diperlukan inputan data file dengan format csv, bentuk file yang disarankan seperti ini:</p>
		<div class="tabel">
			<table border="2" cellspacing="0" cellpadding="5">
				<thead>
					<tr>
						
						<th>Gender</th>
						<th>Height</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						
						<td>Male</td>
						<td>73.254</td>
					</tr>
					<tr>
						
						<td>Female</td>
						<td>60.254</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="predict">
		<form method="POST" enctype=multipart/form-data>
			<div class="inputan">
				<p class="prediksi">inputkan data anda yang mau di prediksi pada form dibawah:</p>
				<label for="input-file"></label>
				<input type="file" id="input-file" name="file">
			</div>
			<button type="submit">kirim!</button>
		</form>
	</div>
</div>
</body>
</html>